/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    .new-transaction {
        margin: 2em auto;
    }
    
    #new-transaction-form {
        margin: 1em auto;
        width: 17em;
    }

    .form-section {
        margin: 1em auto;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .form-section label {
        margin-bottom: 0.25em;
    }

    .form-type {
        margin: 0 auto;
        border: 2px solid #cccccc;
        border-radius: 10px;
        width: max-content;
    }

    .form-type input[type="radio"] {
        display: none;
    }

    .form-type label {
        margin: 0.1em;
        padding: 0.5em 2em;
        display: inline-block;
        background-color: inherit;
        border-radius: 7px;
        cursor: pointer;
    }

    .form-type input[type="radio"]:checked + label {
        background-color: #cccccc;
    }

    .form-btns {
        padding: 0.5em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .form-btns button {
        padding: 0.5em 2em;
        border-radius: 20px;
        font-weight: 500;
    }

    .submit-btn {
        background-color: var(--primary);
        color: var(--off-white);
        border: 2px solid var(--primary);
    }

    .cancel-transaction {
        color: var(--expense);
        border: 2px solid var(--expense);
    }
}