.app-header {
    padding: 0.5em 1em 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .app-header h1 {
        color: var(--off-white);
    }

    .app-header svg {
        fill: var(--off-white);
    }