/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    footer {
        padding: 2em 1em;
    }

    footer p {
        color: var(--off-white);
    }

    #disclaimer {
        margin-bottom: 1em;
    }

    #disclaimer span {
        color: inherit;
        font-weight: 700;
    }

    footer a {
        color: #00ebeb;
    }

    footer a:hover {
        text-decoration: underline;
    }
}