footer {
    padding: 2em 1em;
}

    footer p {
        color: var(--off-white);
    }

    footer a {
        color: #00ebeb;
    }

        footer a:hover {
            text-decoration: underline;
        }

#disclaimer {
    margin-bottom: 1em;
}

    #disclaimer span {
        color: inherit;
        font-weight: 700;
    }