.transaction {
    margin: 1em auto;
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.transaction-entry {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: inherit;
}

.transaction-info {
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.25em;
}

.name {
    font-weight: 600;
    font-size: 1.2em;
}

.transaction-info-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
    gap: 0.25em;
}

.amount {
    font-weight: 600;
    font-size: 1.2em;
}

.date {
    color: var(--text-light);
}

.edit-transaction,
.delete-transaction {
    margin-left: 1em;
    padding: 0.5em;
    border-radius: inherit;
}

    .edit-transaction svg,
    .delete-transaction svg {
        fill: var(--off-white);
    }

.edit-transaction {
    background-color: var(--primary);
}

.delete-transaction {
    background-color: var(--expense);
}