/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    .transaction {
        margin: 1.25em auto;
        padding: 0.5em 1em;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .transaction-info {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 0.25em;
    }

    .name {
        font-weight: 600;
        font-size: 1.25em;
    }

    .date {
        color: #adadad;
    }

    .amount {
        font-weight: 600;
        font-size: 1.2em;
    }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75em) {
    
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64em) {
    
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25em) {
    
}