/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    .transaction-list {
        padding: 1em;
    }

    .date-period {
        padding: 0.5em 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .transaction-options {
        margin: 1em auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dropdown select {
        border: none;
        background-color: inherit;
        font-size: 1.5em;
        font-family: inherit;
        font-weight: 700;
    }

    .dropdown select::after {
        font-size: 1.5em;
    }

    .transaction-list ul {
        list-style-type: none;
    }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75em) {
    
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64em) {
    
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25em) {
    
}